@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.quiz{
  -webkit-user-select: none;
}

.question-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height:100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.quiz-header{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
  
  color: #293264;
}

.start{
  position: absolute;
  min-height:100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-header{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin: 0;
}

.start-button{
  background: #4D5B9E;
  border-radius: 15px;
  width: 10rem;
  height: 52px;
  border-style: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;

  margin-top: 35px;
  cursor: pointer;
}

.start-desc{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

hr{
  height:2px;border-width:0;
  color:#dbdef0;
  background-color:#dbdef0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card{
  width: 90%;
  height: 100%;
}

.card-question{
  -webkit-user-select:text;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #293264;
  margin: 0;
}

.card-answers{
  -webkit-tap-highlight-color: transparent;
  height: 25px;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-color: #4D5B9E;
  border-width: 1.5px;
  outline-style: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;

  cursor: pointer;
}

.selected-card-answers{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  height: 25px;
  background-color: #D6DBF5;
  border-radius: 8px;
  border-style: solid;
  border-color: #bfc3da;
  border-width: 1.5px;
  outline-style: none;
  box-shadow: inset 5px 5px 20px #00000025;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;

  cursor: pointer;
}

.correct-card-answers{
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  height: 25px;
  background-color: #94D7A2;
  border-radius: 8px;
  border-style: solid;
  border-color: #4d5b9e00;
  border-width: 1.5px;
  outline-style: none;
  box-shadow: inset 5px 5px 20px #00000025;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;

}

.incorrect-card-answers{
  -webkit-tap-highlight-color: transparent;
  opacity: 0.5;
  -webkit-user-select: none;
  height: 25px;
  background-color: #F8BCBC;
  border-radius: 8px;
  border-style: solid;
  border-color: #f1d6d6;
  border-width: 1.5px;
  outline-style: none;
  box-shadow: inset 5px 5px 20px #00000025;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;
}

.empty-card-answers{
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  height: 25px;
  background-color: #94D7A2;
  border-radius: 8px;
  border-style: none;
  border-color: #4d5b9e00;
  border-width: 1.5px;
  outline-style: none;
  box-shadow: inset 5px 5px 20px #00000025;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;
}

.u-card-answers{
  -webkit-tap-highlight-color: transparent;

  opacity: 0.5;
  height: 25px;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-color: #4D5B9E;
  border-width: 1.5px;
  outline-style: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12.24px;
  line-height: 12px;
  color: #293264;
  margin-top: 15px;
  margin-right: 15px;
}

.question-submit{
  width: 7.5rem;
  height: 2.5rem;
  left: 215px;
  top: 490px;
  background: #4D5B9E;
  border-radius: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  border-style: none;
  margin-top: 33.5px;
  margin-bottom: 33.5px;
  cursor: pointer;
}

.question-submit:hover{
  box-shadow: inset 5px 5px 20px #00000025;
}

.question-submit:active{
  box-shadow: inset 5px 5px 20px #00000042;
}

.end-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.8px;
  line-height: 15px;
  text-align: center;
  
  color: #293264;
  
}